<app-header></app-header>
<div class="container">
  <div *ngIf="!results">Please Enter a City Name or Zip Code</div>
  <div class="search-type">
    <div class="search-by-city">
      City Name
      <input
        type="text"
        id="city"
        name="city"
        placeholder="City"
        required
        [(ngModel)]="cityInput"
      />
      <button (click)="searchByCity()">Search</button>
    </div>
    <div class="search-by-zip">
      Zip Code
      <input
        type="text"
        id="zip"
        name="zip"
        placeholder="Zip Code"
        required
        [(ngModel)]="zipInput"
      />
      <button (click)="searchByZip()">Search</button>
    </div>
  </div>
  <div *ngIf="results" class="weather-results">
    <div class="city-and-icon">
      <h2>{{ results?.name }}</h2>
      <img
        src="http://openweathermap.org/img/wn/{{
          (results?.weather)[0].icon
        }}.png"
        alt="Weather Icon"
      />
    </div>
    <div>Description: {{ (results?.weather)[0].description }}</div>
    <div>Current temp: {{ results?.main.temp }}°F</div>
    <div>Feels like: {{ results?.main.feels_like }}°F</div>
    <div>Pressure: {{ results?.main.pressure }}kPa</div>
    <div>Humidity: {{ results?.main.humidity }}%</div>
    <div>Wind speed: {{ results?.wind.speed }}mph</div>
  </div>
</div>
